html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 88vh;
  width: 100%;

  background-color:rgb(171, 187, 255);
  border-radius: 15px;
}
.sidebar{
  width: 10%;
  height: 98%;
  margin-left: 10px;
  
  background-color: white;
  border-radius: 15px;
}
.column-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98%;
  width: 25%;
  margin-right: 10px;
}
.calendar{
  height: 98%;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;

  background-color: white;
  border-radius: 15px;
}
.event-list{
  flex: 1;
  width: 100%;

  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}
.event-data{
  flex: 1;
  width: 100%;

  background-color: white;
  border-radius: 15px;
}