html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: hidden;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 88vh;
  width: 100%;

  background-color:rgb(171, 187, 255);
  border-radius: 15px;
}
.sidebar{
  width: 10%;
  height: 98%;
  margin-left: 10px;
  
  background-color: white;
  border-radius: 15px;
}
.column-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98%;
  width: 25%;
  margin-right: 10px;
}
.calendar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98%;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;

  background-color: white;
  border-radius: 15px;
}
.wrapper{
  width: 450px;

  background: white;
  border-radius: 10px;
}
.wrapper header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 30px 10px;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;

  color: #878787;
  cursor: pointer;
  line-height: 38px;
  font-size: 1.8rem;
  border-radius: 50px;
  
  transition: 0.2s;
}
header .icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}
.calendar .weeks li{
  font-weight: 500;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar ul li{
  position: relative;
  width: calc(100% / 7);
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  margin-top: 30px;
}
.calendar .days li::before{
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: -1;

  border-radius: 50%;
}
.days li:hover::before{
  background: #f2f2f2;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li.active::before{
  background: rgb(171, 187, 255);
}
.event-list{
  flex: 1;
  width: 100%;
  height: auto;

  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}
.event-list h{
  font-size: 1.45rem;
  font-weight: 500;
  padding: 20px;
}
.event-add, .event-data{
  flex: 1;
  width: 100%;

  background-color: white;
  border-radius: 15px;
}
.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
  list-style-type: none;
}
.events li{
  padding: 6px;
  margin: 6px;
  font-size: 1.2rem;
  width: calc(80%);
  border-radius: 12px;
  border: solid;
  border-color: black;
  border-width: 1px;
  transition: 0.5s;
  cursor: pointer;
}
.events li:hover{
  background:rgb(101, 122, 214);
}
.addeventform, .editeventform{
  visibility: hidden;
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px; /* add rounded corners */
  border: 1px solid #ccc; /* add a border for visual distinction */
  width: 90%; /* adjust width as needed */
  max-width: 400px; /* limit the maximum width for better readability */
  margin: 0 auto; /* center the form horizontally */
}