@{
    ViewData["Title"] = "Calendar App";
}

<html>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
<div class="main-container">
    <div class="sidebar">

    </div>
    <div class="calendar-container">
        <div class="button-container">
            <button id="addEventButton">Add New Event</button>
            <button id="addCategoryButton">Add New Category</button>
        </div>
        <div class="wrapper">
            <header>
                <p class="current-date"></p>
                <div class="icons">
                    <span id="prev" class="material-symbols-rounded">chevron_left</span>
                    <span id="next" class="material-symbols-rounded">chevron_right</span>
                </div>
            </header>
            <div class="calendar">
                <ul class="weeks">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="days"></ul>
            </div>
        </div>
    </div>
    <div class="column-container">
        <div class="event-list">
            <h></h>
            <div class="event-container">
                <ul class="events">
                </ul>
            </div>
        </div>
        <div class="event-add">
            <form class="addeventform">
                <label for="eventname">Event Name:</label><br>
                <input type="text" id="eventname" name="eventname"><br>
                <label for="eventstarttime">Start Time:</label><br>
                <input type="time" id="eventstarttime" name="eventstarttime"><br>
                <label for="eventendtime">End time:</label><br>
                <input type="time" id="eventendtime" name="eventendtime"><br>
                <label for="eventcategory">Category:</label>
                <select name="eventcategory" id="eventcategory"></select><br>
                <label for="eventlocation">Location:</label><br>
                <input type="text" id="eventlocation" name="eventlocation"><br>
                <label for="eventrepetition">Repetition:</label><br>
                <select id="eventrepetition" name="eventrepetition">
                    <option value="None">None</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                </select><br>
                <input type="submit" value="Add Event">
            </form>
            <form class="editeventform">
                <label for="editeventname">Event Name:</label><br>
                <input type="text" id="editeventname" name="eventname"><br>
                <label for="editeventstarttime">Start Time:</label><br>
                <input type="time" id="editeventstarttime" name="eventstarttime"><br>
                <label for="editeventendtime">End time:</label><br>
                <input type="time" id="editeventendtime" name="eventendtime"><br>
                <label for="editeventcategory">Category:</label>
                <select name="editeventcategory" id="editeventcategory"></select><br>
                <label for="editeventlocation">Location:</label><br>
                <input type="text" id="editeventlocation" name="eventlocation"><br>
                <label for="editeventrepetition">Repetition:</label><br>
                <select id="editeventrepetition" name="eventrepetition">
                    <option value="None">None</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Annually">Annually</option>
                </select><br>
                <input type="submit" value="Update Event">
                <button id="deleteeventbutton">Delete Event</button>
            </form>
            <form class="addcategoryform">
                <label for="categoryname">Category Name:</label><br>
                <input type="text" id="categoryname" name="categoryname"><br>
                <label for="categorycolour">Category Colour:</label><br>
                <input type="color" id="categorycolour" name="categorycolour"><br>
                <input type="submit" value="Add Category">
            </form>
        </div>
    </div>
</div>

</html>
