@{
    ViewData["Title"] = "Home Page";
}

<html>
    <div class="main-container">
        <div class="sidebar">

        </div>
        <div class="event-view">

        </div>
        <div class="event-data">

        </div>
    </div> 
</html>
